:root {
  --color_green: rgba(76, 178, 98, 1);
  --color_black: rgba(25, 25, 25, 1);
  --color_orange: rgba(220, 53, 53, 1);
  --color_ash: rgba(151, 151, 151, 1);
  --color_white: rgba(255, 255, 255, 1);
}
/* 
input {
  color-scheme: dark;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.__image__ggt__logo {
  content: url(./logo.webp);
  width: 40px;
  height: auto;
}

.__title_and_logo_a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2px;
  text-decoration: none;
  color: #4cb262;
}

.__title__nihal {
  display: flex;
  align-self: flex-end;
  font-size: 24px;
  gap: 4px;
  text-decoration: none;
  margin-bottom: -6px;
}

.__main__container__ggt {
  background: #ffffff;
  /* font-family: 'ClashGrotesk' ; */
  font-weight: 600;
}

.__ggt__h2__ {
  font-size: 32px;
  line-height: 39.36px;
  font-weight: 600;
  margin: 0px 0px;
  margin-bottom: 0px;
}

.__ggt__h4__ {
  font-size: 24px;
  line-height: 29.52px;
  font-weight: 600;
  margin: 0px 0px;
  margin-bottom: 0px;
}

/*! loading  component */
.spinner {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 999;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  overflow-x: hidden;
  overflow-y: hidden;
  backdrop-filter: blur(1px);
  /* background-color: #191919; */
}

.loader {
  border: 5px solid red; /* Light grey */
  border-top: 5px solid var(--color_black); /* Blue */
  border-bottom: 5px solid var(--color_black);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin__ggt 1s linear infinite;
}

@keyframes spin__ggt {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.__alert__div {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 999;
}
.__alert__message__div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  border-radius: 8px;
}

.__danger__ {
  background-color: rgb(255, 17, 17);
  color: white;
}
.__safe__ {
  background-color: #4cb262;
  color: white;
}

.hidden {
  display: none !important;
}

.__custom__input__box {
  width: 250px;
  height: 48px;
  background: #ffffff;
  border: 0px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #191919;
  color-scheme: dark;
}

.__small__text {
  font-size: 16px;
  line-height: 19.68px;
}

.__ggt__container__ {
  margin: 32px 120px;
}

.__text__center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
._header {
  display: flex;
  align-items: center;
  padding-bottom: 48px;
}
._text_green {
  color: var(--color_green);
}

._text_orange {
  color: var(--color_orange);
}

.__name__date__currency {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

._dropdown_menu_container {
  width: 100%;
  display: flex;
  gap: 42px;
}

.__date_and_currency {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 42px;
}

.top__input__name {
  width: 306px;
  height: 48px;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 600;
  color: var(--color_ash);
  background: #f7f7f7;
  border: 1px solid #191919;
  border-radius: 10px;
  color-scheme: dark;
}

.__select__1 {
  display: flex;
  height: 52px;
  justify-items: center;
  background-color: var(--color_black);
  padding: 16px;
  border-radius: 5px;
  color: var(--color_white);
  font-size: 16px;
  line-height: 19.68px;
  cursor: pointer;
  color-scheme: dark;
}
.__select__2 {
  background-color: var(--color_green);
  padding: 16px;
  border-radius: 5px;
  color: var(--color_white);
  line-height: 19.68px;
  font-size: 16px;
  width: 208px;
  height: 52px;
  cursor: pointer;
  color-scheme: dark;
}

.__annual__btn {
  background-color: var(--color_black);
  padding: 16px;
  border-radius: 5px;
  color: var(--color_white);
  font-size: 16px;
  line-height: 19.68px;
  /* width: 137px; */
  height: 52px;
  cursor: pointer;
}

.hidden__go__back__btn {
  background-color: var(--color_black);
  padding: 16px;
  border-radius: 5px;
  color: var(--color_white);
  font-size: 16px;
  line-height: 19.68px;
  /* width: 137px; */
  height: 52px;
  cursor: pointer;
}

.__calc__meter__div {
  margin-top: 32px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 142px;
}
.calc__meter__items {
  width: 305px;
  height: 201px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 305px;
  height: 201px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(76, 178, 98, 0.1);
  border-radius: 15px;
}

.__input__label__con {
  display: flex;
  gap: 32px;
  flex-direction: column;
  width: 100%;
  margin-top: 80px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(76, 178, 98, 0.15);
  border-radius: 15px;
}

.__input__label__each__container {
  display: flex;
  margin-left: 80px;
  align-items: center;
}
.__equal__dis {
  width: 50%;
  align-items: center;
}

.__small__input__label {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #191919;
}
.__small__input__field {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 103px;
  height: 48px;
  background: #f7f7f7;
  color: #979797;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  padding: 14px 24px;
  border: 0px;
  color-scheme: dark;
}
.__income__margin__top {
  margin-top: 80px;
}
.__first__margin__top {
  margin-top: 24px;
}
.__last__margin__bottom {
  margin-bottom: 48px;
}
.__rounded__plus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  /* font-size: 24px; */
  background: #4cb262;
  cursor: pointer;
}
.__plus__span {
  cursor: pointer;
  font-size: 32px;
  font-weight: 600;
  color: var(--color_white);
}
.__3__equal__dis {
  width: 33.333%;
  align-items: center;
}
.__submit__button {
  position: relative;
  left: 70%;
  font-size: 24px;
  color: var(--color_white);
  border: 0px;
  bottom: 30%;
  border-radius: 10px;
  background: #4cb262;
  height: 50px;
  width: 20%;
  margin-bottom: 40px;
  cursor: pointer;
}

input[type='number']:disabled {
  background: #f7f7f7;
  color: #979797;
}

button:disabled {
  cursor: none;
  opacity: 0.5;
}

select {
  appearance: none;
  /* background: url(../../ggt-user-details-form-plugin/vendor//includes//template/Vector\ 10.svg)
    no-repeat right white; */
  background: url(https://frameofmindco.com/wp-content/uploads/2023/01/Vector-10.svg)
    no-repeat right white;
  position: relative;
  background-position: right 1rem center;
}

select:focus {
  background-color: var(--color_green);
}

/* ?!----------------------------------------------------------------------------------------------------------------- */

/* ! mobile version  */

@media screen and (max-width: 1200px) {
  .__alert__div {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
  }
  .__alert__message__div {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-size: 12px !important;
    border-radius: 8px;
  }

  select {
    background-position: right 0.2rem center;
  }

  .__text__center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .__image__ggt__logo {
    width: 88px;
    height: 48px;
  }
  .__ggt__h2__ {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    letter-spacing: -0.025em;
  }

  .__title__nihal {
    font-weight: 600;
    font-size: 24px;
    line-height: 25px;
    /* identical to box height */

    letter-spacing: -0.025em;
  }

  .__ggt__h4__ {
    font-size: 16px;
    line-height: 19.68px;
  }
  .__ggt__container__ {
    margin: 24px 20px;
  }

  ._header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
  }

  .__name__date__currency {
    width: 100%;
    margin-top: 32px;
    flex-direction: column;
  }
  .top__input__name {
    max-width: 487px;
    width: 100%;
    margin-bottom: 24px;
    height: 40px;
    font-size: 18px;
    background: #f7f7f7;
    border: 1px solid #191919;
    border-radius: 10px;
  }
  ._dropdown_menu_container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
  }

  .__date_and_currency {
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    gap: 0px;
  }
  .__annual__btn {
    padding: 12px;
    width: 155px;
    height: 39px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
  }
  .__select__2 {
    padding: 12px;
    width: 155px;
    height: 39px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
  }
  .__select__1 {
    padding: 12px;
    width: auto;
    height: 39px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
  }
  .__calc__meter__div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .__input__label__con {
    display: flex;
    gap: 24px;
    padding: 0px 16px;
    flex-direction: column;
    margin-top: 60px;
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(76, 178, 98, 0.15);
    border-radius: 15px;
  }

  .__input__label__each__container {
    margin-left: 0px;
    gap: 16px;
  }

  .__small__input__label {
    font-size: 16px;
    line-height: 20px;
  }
  .__small__input__field {
    padding: 16px 12px;
    width: 95px;
    height: 52px;
    font-size: 16px;
    line-height: 20px;
    border: 0px;
  }
  .small__width__adjust {
    width: 175px;
  }

  .__income__margin__top {
    margin-top: 32px;
  }
  .__first__margin__top {
    margin-top: 16px;
  }
  .__last__margin__bottom {
    margin-bottom: 48px;
  }
  .__submit__button {
    left: 50%;
    font-size: 16px;
    color: var(--color_white);
    border: 0px;
    bottom: 30%;
    border-radius: 5px;
    width: 40%;
    margin-bottom: 24px;
  }

  .__custom__input__box {
    max-width: 150px;
    height: 48px;
    background: #ffffff;
    border: 0px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #191919;
    color-scheme: dark;
  }
  .__rounded__plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    background: #4cb262;
    cursor: pointer;
  }
}

@media screen and (max-width: 900px) {
}
